/* Global font */
body {
  font-family: 'Roboto', sans-serif;
}

/* Wrapper to align elements in center */
.wrapper {
  height: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Global styles for all buttons */
input {
  border: 1 px solid black;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 35px;
  width: 100px;
  margin: 0 40px;
  border-radius: 4px;
  font-size: 14px;
}

/* Specific stylings for buttons */
.connectButtonOn {
  background-color: green;
}

.connectButtonOff {
  background-color: red;
}

.connectButtonFade {
  background-color: orange;
}

#results {
  background: green;
  margin: 30px 0;
  height: 50px;
  color: white;
  text-align: center;
  padding: 25px 0 0 0;
  border-radius: 4px;
}