html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}
h1 {
  color: darkred;
}
a, a:link, a:visited {
  color: darkred;
}
a:hover {
  color: black;
}

#lastMsg {
  font-family: monospace;
  overflow: scroll;
  height: 10rem;
}

#sentCommands {
  overflow: scroll;
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
  background: white;
}

#ruta1 {
 position: absolute;
 z-index: 5000;
 background-color: green;
 top: 50%;
 width: 300px;
 height: 600px;
 left: 50%;
 margin: -300px 0 0 -150px;
}

#ruta2 {
  position: absolute;
  z-index: 5000;
  background-color: red;
  top: 50%;
  width: 300px;
  height: 600px;
  left: 50%;
  margin: -300px 0 0 -150px;
 }

 #ruta3 {
  position: absolute;
  z-index: 5000;
  background-color: blue;
  top: 50%;
  width: 300px;
  height: 600px;
  left: 50%;
  margin: -300px 0 0 -150px;
 }